APP_NAME=KFLIX
APP_ENV=production
APP_KEY=base64:CHANGE_ME_LATER=
APP_DEBUG=false
APP_URL=http://localhost
LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=kflix_db
DB_USERNAME=kflix_user
DB_PASSWORD=kflix_password

TMDB_TOKEN=your_tmdb_bearer_token_here
TMDB_API_KEY=your_tmdb_api_key_here

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync
