<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect legacy PHP files to Laravel routes
    RewriteRule ^play\.php$ /watch? [QSA,L]
    RewriteRule ^tvshow\.php$ /tv? [QSA,L]
    RewriteRule ^watchlist\.php$ /watchlist? [QSA,L]
    RewriteRule ^index\.php$ /? [QSA,L]
    RewriteRule ^movie\.php$ /movies? [QSA,L]
    RewriteRule ^newpopular\.php$ /tv/new-popular? [QSA,L]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
